{% load static %}
{% for i in patients %}

  {% if i.percentage <= critical_value and i.percentage > danger_value %}
  <div class="col-lg-3 col-12  patient-column ">
    <div class="light-grey-background all-border patient-column-inner">
      <div class="row">
        <div class="col-9">
          <p class="dark-grey" style="margin-bottom: 0px;">Floor: <span class="adv-sal-yellow bold-text">0{{i.floor}}</span> Room: <span class="adv-sal-yellow bold-text">{{i.room}}</span></p>
          <p class="dark-grey" style="margin-bottom: 0px;">Bed no: </p>
          <p class="dark-grey large-text bold-text">0{{i.bed_no}}</p>
          <p class="dark-grey " style="margin-bottom: 0px;">Remaining Saline:</p>
            <p class="adv-sal-yellow large-text bold-text">{{i.percentage}}%</p>
        </div>
        <div class="col-3">
          <div class="progress adv-sal-yellow-border" style="height: 150px;width:25px;border-radius:50px;" >
            <div class="progress-bar adv-sal-yellow-background" role="progressbar" style="height:{{i.percentage}}%;top:calc(100% - {{i.percentage}}% );" aria-valuemin="0" aria-valuemax="100">

            </div>
          </div>
        </div>
      </div>
      
      <a type="submit" method="POST" href="/{{i.device_id}}/" class="btn adv-sal-red-background white white-background-hover adv-sal-red-hover adv-sal-red-border" style="margin-bottom:10px;">Mute Buzzer</a> {% csrf_token %}
      <div class="row">
        <div class="col-3">
            <h4 class="adv-sal-red" style="display: inline-block;margin-top: 3px;">Off</h4>
        </div>
        <div class="col-3 no-padding">
            <label class="switch">
            {% if i.status == 1 %}
            <input type="checkbox" checked id="{{i}}">
            {% elif i.status == 0 %}
            <input type="checkbox" id="{{i}}">
            {% endif %}
            <span class="switch-slider round"></span>

            </label>
        </div>
        <div class="col-3">
            <h4 class="adv-sal-green" style="display: inline-block;margin-top: 3px;">On</h4>
        </div>
      </div>    
      <script type="text/javascript">
        $('#{{i}}').change(function() {
            var checkbox_value;
            var ajx_device_id = "{{i}}";
            if (!$(this).is(':checked')) {
                checkbox_value=0;
            }
            else
            {
                checkbox_value=1;
            }
  
            $.ajax({
                url: "/ajaxstatus",  
                data: {'sent_device': ajx_device_id,'sent_status': checkbox_value},
                type: "get",
                success: function (){
                    alert("done");
                }
  
  
  
            });    
        });
      </script>  
    </div>
  </div>

  {% endif %}

{% endfor %}