{% load static %}
{% include "header.html" %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js" crossorigin="anonymous"></script>






<body>
	<div class="section">
		<div class="container-1200px" >
			<h2 class="bold-text padding-15px-mobile">Add a new device</h2>
			<form style="max-width:600px;margin-bottom:30px;" class="padding-15px-mobile" action="/devices/" method="POST"> {% csrf_token %}
				<div class="form-group">
				    <label for="device">Device ID</label>
				    <input type="text" class="form-control" name="device_id" style="margin-bottom: 20px;" id="input_device">
				    <div class="row no-margin" style="margin-bottom: 20px;">
				    	<div class="col-4 no-padding">
						    
						    <label for="floor">Floor</label>
						    <input type="number" class="form-control" name="floor" id="input_floor">
						</div>
				    	<div class="col-4">
					    
						    <label for="room">Room</label>
						    <input type="number" class="form-control" name="room" id="input_room">
						</div>
				    	<div class="col-4 no-padding">
						    <label for="bed">Bed</label>
						    <input type="number" class="form-control" name="bed_no" id="input_bed_no">
						</div>

					</div>
					<button type="submit" class="btn adv-sal-green-background white white-background-hover adv-sal-green-hover adv-sal-green-border">Connect Device</button>
				</div>

			</form>
			<h2 class="bold-text">Existing devices</h2>
			<table id="devices-table" class="display" style="width:100%;">
				<thead>
		            <tr>
		                <th>Device ID</th>
		                <th>Floor</th>
		                <th>Room</th>
		                <th>Bed</th>
		                <th>Edit</th>
		                <th>Delete</th>
		                
		            </tr>
	        	</thead>
	        	<tbody>
		            
		                {%for p in patients %}
		                	<tr>
				                <td>{{p.device_id}}</td>
				                <td>{{p.floor}}</td>
				                <td>{{p.room}}</td>
				                <td>{{p.bed_no}}</td>
				                <td>
				                	
				                		<button type="submit" id="edit{{p.device_id}}" class="btn adv-sal-green-background white white-background-hover adv-sal-green-hover adv-sal-green-border">Edit</button>
				                	
				                </td>				                
				                <td>
				                	<form action="/devices/" method="POST"> {% csrf_token %}
				                		<button type="submit" onclick="alert('You are about to DELETE a device!!!')" name="delete" value={{p.device_id}} class="btn adv-sal-red-background white white-background-hover adv-sal-red-hover adv-sal-red-border">Delete</button>
				                	</form>
				                </td>
							</tr>

							<script type="text/javascript">
								$(document).ready(function() {
								    $('#edit{{p.device_id}}').on( "click", function() {
									    $( "#input_device" ).val("{{p.device_id}}");
										$( "#input_floor" ).val({{p.floor}});
										$( "#input_room" ).val({{p.room}});
										$( "#input_bed_no" ).val({{p.bed_no}});
									});
								} );


							</script>
			                        
			            {% endfor %}

		            
		        </tbody>
		        <!-- <tfoot>
		            <tr>
		                <th>Device ID</th>
		                <th>Floor</th>
		                <th>Room</th>
		                <th>Bed</th>
		                <th>Edit</th>
		                <th>Delete</th>
		            </tr>
		        </tfoot> -->
	    	</table>
			
			<script type="text/javascript">
			$(document).ready(function() {
			    $('#devices-table').DataTable();
			} );


			</script>


		</div>
	</div>
</body>