{% load static %}
{% include "header.html" %}
<body>
    <!-- <?php require("navbar.php") ?> -->
    {% include "navbar.html" %}

    <div class="section"  >
        <h1 class="adv-sal-green text-center" style="margin-bottom:50px;"><span class="dark-grey">Floor 0{{floor_no}}</span> </h1>
        <form class="text-center" action="/floor/{{floor_no}}/below" style="width: 100%;" method="POST"> {% csrf_token %}
            <input type="number" class="form-control horizontal-middle"  placeholder="Patients under %" style="width:100%;max-width: 500px;margin-bottom:20px;" name="percentage_value">
            <button type="submit" class="btn adv-sal-green-background white white-background-hover adv-sal-green-hover adv-sal-green-border " style="margin-bottom:20px;">Submit</button>
        </form>
        <div class="container-1200px row landing-section">


            {% for i in patients %} 

                {% if i.floor == floor_no %} 
                    {% if i.percentage <= percentage %} 

                    <div class="col-lg-3 col-12  patient-column ">
                        <div class="light-grey-background all-border patient-column-inner">
                            <p class="dark-grey" style="margin-bottom: 0px;"> Room: <span class="adv-sal-red bold-text">{{i.room}}</span></p>
                            <div class="row" id="bed{{i.bed_no}}">

                            </div>
                            <a type="submit" method="POST" href="/{{i.device_id}}/" class="btn adv-sal-red-background white white-background-hover adv-sal-red-hover adv-sal-red-border" style="margin-bottom:10px;">Mute Buzzer</a> {% csrf_token %}
                            


                            <div class="row">
                                <div class="col-3">
                                    <h4 class="adv-sal-red" style="display: inline-block;margin-top: 3px;">Off</h4>
                                </div>
                                <div class="col-3 no-padding">
                                    <label class="switch">
                                    {% if i.status == 1 %}
                                    <input type="checkbox" checked id="{{i}}">
                                    {% elif i.status == 0 %}
                                    <input type="checkbox" id="{{i}}">
                                    {% endif %}
                                    <span class="switch-slider round"></span>

                                    </label>
                                </div>
                                <div class="col-3">
                                    <h4 class="adv-sal-green" style="display: inline-block;margin-top: 3px;">On</h4>
                                </div>
                            </div>



                            <script type="text/javascript">
                                $('#{{i}}').change(function() {
                                    var checkbox_value;
                                    var ajx_device_id = "{{i}}";
                                    if (!$(this).is(':checked')) {
                                        checkbox_value=0;
                                    }
                                    else
                                    {
                                        checkbox_value=1;
                                    }

                                    $.ajax({
                                        url: "/ajaxstatus",  
                                        data: {'sent_device': ajx_device_id,'sent_status': checkbox_value},
                                        type: "get",
                                        success: function (){
                                            alert("done");
                                        }



                                    });    
                                });
                            </script>
                            
                        </div>


                    </div>

                    <script type="text/javascript">
                        function send{{i.bed_no}}(){
                            var ajx_floor = {{i.floor}}, ajx_room = {{i.room}} , ajx_bed = {{i.bed_no}};
                            $.ajax({

                                url: "/ajax",  //specifies the template to be updated
                                data: {'sent_bed': ajx_bed, 'sent_room': ajx_room, 'sent_floor': ajx_floor},  
                                type: "get",
                                
                                      
                                //console.log(data);
                                success: function (data){

                                    $("#bed{{i.bed_no}}").html(data);
                                    //Send another request in 0.5 second.
                                    setTimeout(function(){
                                        send{{i.bed_no}}();
                                    }, 500);
                                }
                            });

                        }
                        //Call our function
                        send{{i.bed_no}}();

        

                    </script> 
                    {% endif %}
               {% endif %}

            {% endfor %}


        </div>
    </div> 

       
{% include "footer.html" %}
</body>