{% load staticfiles %}

{% include "header.html" %}

<body>
    <!-- <?php require("navbar.html") ?> -->
    {% include "navbar.html" %}


    <div class="section dark-grey-background"  >
        <h1 class="adv-sal-green text-center" style="margin-bottom:10px;">Floor {{floor_no}}</h1>
        <h5 class="adv-sal-green text-center" style="margin-bottom:90px;">Number of patients: 0{{patient_count}} </h5>
        <div class="container-1200px row landing-section">
            {%for room_number in rooms_under_Floor %}
        
                <div class="col-lg-3 col-12 text-center text-lg-left patient-column ">
                    <a href="room/{{room_number}}" class="">
                        <div>
                            <h2 class="adv-sal-red">Room no: 0{{room_number}}</h2>
                            <!--
                            <p class="white">Number of patients: 02 </p>
                            <p class="adv-sal-red">Critical patients: 01 </p>
                            -->
                        </div>
                    </a>                        
                </div>
                        
            {% endfor %}
        </div>

    </div>  

</body>