{% load static %}
<style>
	.footer-text
	{
		font-size:13px;
	}
</style>
<div class="adv-sal-green-background " style="padding: 10px;">
	<div class="row container-1200px">
		<div class="col-lg-3 text-center">
			<img src="{% static 'images/logo.png' %}" style="height:60px;margin-right:10px;">
			<img src="{% static 'images/ict.jpg' %}" style="height:60px;">
		
		</div>
		<div class="col-lg-4 text-center text-lg-left">
			<p class="dark-grey bold-text footer-text" style="margin-bottom:0px;">Developed by a team of</p>
			<p class="dark-grey footer-text" style="margin-bottom:0px;">Department of Robotics and Mechatronics Engineering, University of Dhaka</p>

			
		</div>
		<div class="col-lg-5 text-center text-lg-left">

			<p class="dark-grey bold-text footer-text" style="margin-bottom:0px;">Supported by</p>
			<p class="dark-grey footer-text" style="margin-bottom:0px;">ICT Innovation Fund</p>
			<p class="dark-grey footer-text" style="margin-bottom:0px;">ICT Division, Government of the People's Republic of Bangladesh</p>
			
		</div>
	</div>
	
</div>