{% load static %}
<div class="dark-grey-background " style="padding: 20px;">
	<div class="row container-1200px">
		<div class="col-lg-6 text-center">
			<img src="{% static 'images/logo.png' %}" style="width: 100%;max-width: 100px;">
		</div>
		<div class="col-lg-6 text-center text-lg-left">
			<h6 class="white">Supervised by Prof. Dr. Lafifa Jamal</h6>
			<h6 class="white">Developed by students of Department of Robotics and Mechatronics Engineering</h6>
			<h6 class="white">University of Dhaka</h6>
			<p class="white">Copyright 2020</p>
		</div>
	</div>
	
</div>