{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intravenous Saline Monitoring System</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
	<link href="{% static 'css/layout.css' %}" rel="stylesheet">
	<link href="{% static 'css/text.css' %}" rel="stylesheet">
	<link href="{% static 'css/color.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
    
    <script src="{% static 'bootstrap/jquery-3.3.1.min.js'%}" ></script>
    <script src="{% static 'bootstrap/popper.min.js'%}"></script>
	<script src="{% static 'bootstrap/bootstrap.min.js'%}"></script>
	<style>
		.section
		{
		    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8)), url(/static/images/bg.jpg);
		    background-size: cover;
		    background-repeat: no-repeat;
		    min-height: 80vh;

		}

	</style>
</head>


{% endblock %}