{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DUcepticons</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
	<link href="{% static 'css/layout.css' %}" rel="stylesheet">
	<link href="{% static 'css/text.css' %}" rel="stylesheet">
	<link href="{% static 'css/color.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
    
    <script src="{% static 'bootstrap/jquery-3.3.1.min.js'%}" ></script>
    <script src="{% static 'bootstrap/popper.min.js'%}"></script>
	<script src="{% static 'bootstrap/bootstrap.min.js'%}"></script>

</head>