{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% include "header.html" %}
<body>
  {% include "navbar.html" %}
   
   {% if lowest_level <= 20 %}
    <div class="section"  >
        <h1 class="adv-sal-yellow text-center" style="margin-bottom:50px;">Critical and <span class="adv-sal-red">Very Critical</span> Saline Levels</h1>
        <div class="container-1200px row landing-section">

  
        </div>
           
        <script type="text/javascript">
            function send(){
                
                $.ajax({

                    url: "/ajaxhome",  //specifies the template to be updated
                    type: "get",
                    
                          
                    //console.log(data);
                    success: function (data){

                        $(".landing-section").html(data);
                        //Send another request in 0.5 second.
                        setTimeout(function(){
                            send();
                        }, 500);
                    }
                });

            }
            //Call our function
            send();


        </script> 
  </div>  
  {% else %}
    <div class="section"  >
        
        <h2 class="text-center" style="margin-bottom:50px;">This page will display saline levels <span class="adv-sal-red">below 20%</span></h2>
        <h2 class="text-center" style="margin-bottom:50px;">Currently all saline levels are <span class="adv-sal-green">above 20%</span></h2>
        <h2 class="text-center" style="margin-bottom:50px;">Please visit individual floor and room page to see them.</h2>
    </div> 
    {% endif %}
{% include "footer.html" %}    
</body>

{% else %}
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}