{% load static %}

{% include "header.html" %}
<body>
  {% include "navbar.html" %}
   
    <div class="section"  >
        <h1 class="adv-sal-red text-center" style="margin-bottom:50px;">Critical Patients</h1>
        <div class="container-1200px row landing-section">

  
        </div>
        <script type="text/javascript">
            function send(){
                
                $.ajax({

                    url: "/ajaxhome",  //specifies the template to be updated
                    type: "get",
                    
                          
                    //console.log(data);
                    success: function (data){

                        $(".landing-section").html(data);
                        //Send another request in 0.5 second.
                        setTimeout(function(){
                            send();
                        }, 500);
                    }
                });

            }
            //Call our function
            send();


        </script> 
  </div>      
</body>