{% load staticfiles %}
{% include "header.html" %}
<body>
    <!-- <?php require("navbar.php") ?> -->
    {% include "navbar.html" %}

    <div class="section dark-grey-background"  >
        <h1 class="adv-sal-green text-center" style="margin-bottom:50px;"><span class="white">Floor 0{{floor_no}}</span> | Room 0{{room_no}}</h1>
        <div class="container-1200px row landing-section">


            {% for i in patients %}

                {% if i.floor == floor_no and i.room == room_no %}
                    <div class="col-lg-3 col-12  patient-column ">
                        <div class="white-opaque-border all-border patient-column-inner">
                            <div class="row" id="bed{{i.bed_no}}">

                            </div>
                        </div>


                    </div>

                    <script type="text/javascript">
                        function send{{i.bed_no}}(){
                            var ajx_floor = {{i.floor}}, ajx_room = {{i.room}} , ajx_bed = {{i.bed_no}};
                            $.ajax({

                                url: "/ajax",  //specifies the template to be updated
                                data: {'sent_bed': ajx_bed, 'sent_room': ajx_room, 'sent_floor': ajx_floor},  
                                type: "get",
                                
                                      
                                //console.log(data);
                                success: function (data){

                                    $("#bed{{i.bed_no}}").html(data);
                                    //Send another request in 0.5 second.
                                    setTimeout(function(){
                                        send{{i.bed_no}}();
                                    }, 500);
                                }
                            });

                        }
                        //Call our function
                        send{{i.bed_no}}();


                    </script> 
                {% endif %}

            {% endfor %}


        </div>
        <a href="/floor/{{floor_no}}"><h6 class="white text-center">← Get back to Floor {{floor_no}} Page</h6></a>
    </div> 

       

</body>